body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid lightgray;
}

th {
    background-color: whitesmoke;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button[type="submit"] {
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: darkgreen;
}

a {
    padding: 5px 10px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: mediumblue;
}

.btn-delete {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-delete:hover {
    background-color: darkred;
}
