body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #2196F3;
    text-decoration: none;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    padding: 5px 10px;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: #0b7dda;
}

.btn-delete {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-delete:hover {
    background-color: #da190b;
}